.content{
  padding-top: 5rem;
  /*height: 20rem;
  width: 20rem;*/
  height: 100%;
  width: 100%;
  background-color: blue;
}

.formulario{
  background-color: black;
  height: 20rem;
  width: 20rem;;
}

.otro{
  background-color: blue;
  padding-top: 10rem;
}

.row-height {
  height: 100%;
  width: 100%;
}
