<div class="content">
  <div class="paddingCard">
    <mat-card class="paddingInterno">
      <mat-card-title>Solicitud</mat-card-title>
      <mat-card-subtitle>05/08/2021</mat-card-subtitle>
      <mat-card-content>
        <div class="descripcion">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quos, repudiandae eligendi harum laudantium exercitationem odio ea itaque cum saepe nihil quaerat in id distinctio sunt omnis vel doloribus quo.
        </div>
        <div>
          <h3><b>Respuesta</b></h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quos, repudiandae eligendi harum laudantium exercitationem odio ea itaque cum saepe nihil quaerat in id distinctio sunt omnis vel doloribus quo.
        </div>
      </mat-card-content>
      <!--<div fxLayout="column" fxLayoutAlign=" center">
        <button fxLayout="column" fxLayoutAlign=" center" mat-raised-button color="accent" type="submit"
          [disabled]="!form.valid">Generar</button>
      </div>-->
  </mat-card>
  </div>
  <div class="paddingCard">
    <mat-card class="paddingInterno">
      <mat-card-title>Reclamo</mat-card-title>
      <mat-card-subtitle>18/09/2021</mat-card-subtitle>
      <mat-card-content>
        <div class="descripcion">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quos, repudiandae eligendi harum laudantium exercitationem odio ea itaque cum saepe nihil quaerat in id distinctio sunt omnis vel doloribus quo.
        </div>
        <div>
          <h3><b>Respuesta</b></h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quos, repudiandae eligendi harum laudantium exercitationem odio ea itaque cum saepe nihil quaerat in id distinctio sunt omnis vel doloribus quo.
        </div>
      </mat-card-content>
      <!--<div fxLayout="column" fxLayoutAlign=" center">
        <button fxLayout="column" fxLayoutAlign=" center" mat-raised-button color="accent" type="submit"
          [disabled]="!form.valid">Generar</button>
      </div>-->
  </mat-card>
  </div>


</div>
