.content{
  padding-top: 5rem;
  width: 100%;
  height: 100%;
  /*background-color: aqua;*/
}

.tablePadding{
  padding-left: 5rem;
  padding-right: 5rem;
}

.check{
  color: green;
}

.cancel{
  color: red;
}

.alignment{
  padding-right: 0.5rem;
}

